fastapi
sqlmodel
uvicorn
authlib
alembic
typing
pydantic
sqlalchemy
pwdlib
argon2-cffi
pydantic
pydantic-settings
pydantic[email]
passlib
pwdlib
redis
hiredis
httpx
aiohttp
fastapi-cors
python-dotenv
pydantic-core
annotated-types
black
ruff
psycopg2-binary
PyJWT
python-multipart
pillow
itsdangerous
resend[async]